@{
    ViewBag.Title = "About Issue Tracker Program";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Massage</h3>

<p>This program will provide addtitional help for developers to track and fix their issues</p>
