@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Denis Abramenkov<br />
    Dnepr, UA<br />
    <abbr title="Phone">Phobe:</abbr>
    (+38)097-707-38-62
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:denabr969@gmail.com">denabr969@gmail.com</a><br />
    <strong>Develop:</strong> <a href="mailto:denabr969@gmail.com">denabr969@gmail.com</a>
</address>