@model Issues_Tracker.Models.ApplicationUser 

@{
    ViewBag.Title = "View";
}


<h3>Hello, @User.Identity.Name</h3>
<hr/>

<h4 style="margin-top:20px; display:inline-block;">Change Password
    @Html.ActionLink("Go!", "ChangePassword")
</h4>

<h4 style="margin-top:20px">Change pesronal data
    @Html.ActionLink("Go!", "ChangeUserData")
</h4>

