@model  Issues_Tracker.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login page</h2>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <h4>Email</h4>
        @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })

        <h4>Password</h4>
        @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })

        <input style="margin-top:20px" type="submit" class="btn btn-primary" value="Log in">
    </div>
}
