.card 
{
    border-radius:15px 15px;
    margin:1px;
    margin-bottom:3px;
    padding:0px;
}

#boardColumn
{
    border:solid;
    min-height: 500px;
    border-radius:15px 15px;
    border-width:1px;
    border-color:#c5cccc;
}

.card-body
{
    margin:0px;
    margin-left:0px; 
    border-radius:15px 15px;
    padding:0px;
    border:thick;
    border-width:1px;
    border-color:#ebf6f6;
    background-color:#cdcdcd
}

.card-body span
{
    color:#3f7de0;
}

#boardSummary
{
    padding-top:10px; 
    margin-left:10px
}

#boardPriority
{
    padding-left:10px
}

#boardAssignee
{
    padding-left:10px;
    padding-bottom:5px
}